#main{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: rgba(224, 190, 88, 0.931);
    font-weight: bolder;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#recipe{
    font-size: 18px;
}

.one{
    color: rgb(82, 82, 180);
}

.two{
    color: rgb(168, 50, 144);
}

.three{
    color: rgb(140, 9, 57);
}

.img{
    height: auto;
    width: 500px;
}

.title{
    background-color: rgba(224, 190, 88, 0.931);
}

.subtitle{
    color: rgba(224, 190, 88);
    font-size: 18px;
}

.button{
    font-weight: bold;
}

#back-home{
    color: rgba(0, 229, 255, 0.852);
}

#next{
    color: rgba(0, 170, 255, 0.852);
}